<div class="card">
    <div class="card__header">
      <div class="card__text">
        <h2 class="card__big-text">אלכס כהן  
        </h2>
        <h2 class="card__small-text">
          תפקיד
          <img src="./images/button.png" alt="button">
        </h2>
        <h2 class="card__small-text">
          14.7.18
          <img src="./images/button.png" alt="button">
        </h2>
      </div>
      <div class="card__image">
        <img src="./images/card1.svg" alt="photo">
      </div>
    </div>
    <div class="card__button">
      <div class="card__button-text">
        יומן למידה
      </div>
    </div>
    <div class="card__bottom">
      <button>
        <img src="./images/cross.png" class="cross" alt="cross">
      </button>
      <div class="card__images">
        <img src="./images/card2.png" alt="card">
      </div>
      <div class="card__images">
        <img src="./images/card3.png" alt="card">
      </div>
      <div class="card__images">
        <img src="./images/card4.png" alt="card">
      </div>
    </div>
  </div>